<footer class="footer" style="padding:1.5rem;flex-shrink:0;">
  <div class="container">
    <div class="content has-text-centered">
      <div class="control level-item">
        <a href="https://dblitt.com">
          <div class="tags has-addons">
            <span class="tag is-dark">website created by</span>
            <span class="tag is-info" style="background-color: #EE7600;">Daniel Blittschau</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
