<!DOCTYPE html>
<html>
  <head>
    <title>SLUH Hack Club</title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <style media="screen">

/* hero.css */

html,body {
  background: #EFF3F4;
  font-family: 'Open Sans', serif;
}
.hero-body .container {
  max-width: 700px;
}
.hero-body .title {
  color: hsl(192,17%,99%) !important;
}
.hero-body .subtitle {
  color: hsl(192,17%,99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}
.features {
  padding: 5rem 0;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fas, .card-image > .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.is-shady {
animation: flyintoright .4s backwards;
background: #fff;
box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
border-radius: 4px;
display: inline-block;
margin: 10px;
position: relative;
transition: all .2s ease-in-out;
}
.is-shady:hover {
box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}
/*adds font awesome stars*/
footer li:before {
  content: '\f1b2';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}

/* /hero.css */

/* Mobile is assumed (Portait) */
#main-image-div {
  margin-top: -20px;
  margin-bottom: 20px;
}

#main-image {
  width: 400px;
}

/* Large Tablets */
@media only screen and (min-width: 770px) {

#main-image-div {
  margin-top: -120px;
}

}

@media only screen and (max-width: 1087px) {

#bottom-text {
  margin-left: 10px;
  margin-right: 10px;
}

}
    </style>
  </head>
  <body>
    <section class="hero is-info is-medium is-bold">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="../">
                <img src="/short.png" alt="Logo">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>

            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <div class="tabs is-right">
                  <ul>
                    <li class="is-active"><a>Home</a></li>
                    <!-- <li><a href="/projects">Projects</a></li>
                    <li><a href="/team">Team</a></li> -->
                    <li><a href="/leaderboard">Leaderboard</a></li>
                  </ul>
                  <% if (typeof loggedIn !== 'undefined' && loggedIn) { %>
                    <% if (typeof userType !== 'undefined' && userType === 'student') { %>
                      <span class="navbar-item">
                        <a class="button is-white is-outlined" href="/dashboard">
                          <span class="icon">
                            <i class="fas fa-tachometer-alt"></i>
                          </span>
                          <span title="Dashboard">Dashboard</span>
                        </a>
                      </span>
                    <% } else if (typeof userType !== 'undefined' && userType === 'admin') { %>
                      <span class="navbar-item">
                        <a class="button is-white is-outlined" href="/admin">
                          <span class="icon">
                            <i class="fas fa-tachometer-alt"></i>
                          </span>
                          <span title="Admin">Admin</span>
                        </a>
                      </span>
                    <% } %>
                  <% } else { %>
                    <span class="navbar-item">
                      <a class="button is-white is-outlined" href="/login">
                        <span class="icon">
                          <i class="fas fa-lock"></i>
                        </span>
                        <span title="Login">Login</span>
                      </a>
                    </span>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div id="main-image-div">
            <img src="/icon.png" alt="SLUH Hack Club" id="main-image">
          </div>
          <h2 class="subtitle">
          SLUH Hack Club is a programming club focused on <b>making</b>. We have monthly <b>programming competitions</b> where we compete to make the best project using the skills learned in the club.
          </h2>
        </div>
      </div>
    </section>
    <div class="box cta">
      <p class="has-text-centered">
        <span class="tag is-warning">Notice</span> sluhhackclub.com is currently under construction. Any pages missing are currently being worked on.
      </p>
    </div>
    <section class="container" id="bottom-text">
      <div class="intro column is-8 is-offset-2">
        <h2 class="title">Anyone can join SLUH Hack Club!</h2><br>
        <p class="subtitle">You don't have to be a programmer or have any exprerience coding to join, this is a club for learning!</p>
      </div>
    </section>
    <footer class="footer" style="padding:1.5rem;">
      <div class="container">
        <div class="content has-text-centered">
          <div class="control level-item">
            <a href="https://dblitt.com">
              <div class="tags has-addons">
                <span class="tag is-dark">website created by</span>
                <span class="tag is-info" style="background-color: #EE7600;">Daniel Blittschau</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <script type="text/javascript">
<% include ../scripts/burger.ejs %>
      </script>
    </footer>
  </body>
</html>
