<html><head>
    <title><%= projectTitle %> Project | SLUH Hack Club</title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/main-hero.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <style media="screen">

.project-description-content {

/* These are technically the same, but use both */
overflow-wrap: break-word;
word-wrap: break-word;

-ms-word-break: break-all;
/* This is the dangerous one in WebKit, as it breaks things wherever */
word-break: break-all;
/* Instead use this non-standard one: */
word-break: break-word;

/* Adds a hyphen where the word breaks, if supported (No Blink) */
/* -ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto; */

}

.project-description-content ul, .project-description-content p {
  margin-top: 6px;
  margin-bottom: 0 !important;
}

.project-description-content img {
  max-width: 700px;
}
    </style>
    </head>
      <body>
        <div style="flex: 1 0 auto;">
        <section class="hero is-info is-medium is-bold">
          <div class="hero-head">
            <nav class="navbar">
              <div class="container">
                <div class="navbar-brand">
                  <a class="navbar-item" href="../">
                    <img src="/short.png" alt="Logo">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                  <div class="navbar-end">
                    <div class="tabs is-right">
                      <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/calendar">Calendar</a></li>
                        <li class="is-active"><a href="/projects">Projects</a></li>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                      </ul>
                      <% if (typeof loggedIn !== 'undefined' && loggedIn) { %>
                        <% if (typeof userType !== 'undefined' && userType === 'student') { %>
                          <span class="navbar-item">
                            <a class="button is-white is-outlined" href="/dashboard">
                              <span class="icon">
                                <i class="fas fa-tachometer-alt"></i>
                              </span>
                              <span title="Dashboard">Dashboard</span>
                            </a>
                          </span>
                        <% } else if (typeof userType !== 'undefined' && userType === 'admin') { %>
                          <span class="navbar-item">
                            <a class="button is-white is-outlined" href="/admin">
                              <span class="icon">
                                <i class="fas fa-tachometer-alt"></i>
                              </span>
                              <span title="Admin">Admin</span>
                            </a>
                          </span>
                        <% } %>
                      <% } else { %>
                        <span class="navbar-item">
                          <a class="button is-white is-outlined" href="/login">
                            <span class="icon">
                              <i class="fas fa-lock"></i>
                            </span>
                            <span title="Login">Login</span>
                          </a>
                        </span>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </section>
        <div class="box cta has-text-centered">
          <p class="has-text-centered">
            <b class="title"><!-- TODO -->November / December 2018 Programming Project:</b><br><b class="title is-4"><%= projectTitle %></b>
          </p>
        </div>
        <p class="has-text-centered">
          <a href="/projects" class="button is-info" style="margin-top:-10px;margin-bottom:15px;"><i class="fas fa-angle-double-left"></i>&nbsp;Previous Projects</a>
        </p>
        <div class="container"><div class="box" id="main-table" style="margin-left: 10px; margin-right:10px;">
          <p class="is-size-4 has-text-centered"><!-- TODO -->Create a front-end website to visualize data served from an API with Chart.js</p>
          <p class="is-size-4 has-text-centered has-text-weight-bold">Deadline: January 2nd, 11:59PM</p>
          <div class="content project-description-content">
            <ol>
              <li>
                You will again use repl.it. You can just use the 'HTML' template found here: <a href="https://repl.it/languages/html">https://repl.it/languages/html</a>.
              </li>
              <li>
                You will use Chart.js (<a href="https://www.chartjs.org">https://www.chartjs.org</a>) to create a bar graph to visualize different test grades served from an API found here: <a href="https://programmingprojectnov2018.sluhhackclub.com/scores">https://programmingprojectnov2018.sluhhackclub.com/scores</a>.
                <ul>
                  <li>
                    This is a JSON API so you can easily use the output the API provides directly in a JavaScript frontend.
                    You can read more about JSON here: <a href="https://www.w3schools.com/js/js_json_intro.asp">https://www.w3schools.com/js/js_json_intro.asp</a>
                  </li>
                </ul>
              </li>
              <li>
                You will use Axios.js (<a href="https://github.com/axios/axios">https://github.com/axios/axios</a>) to actually fetch the data from the API. The documentation is great, so you should make sure to read it over before you use it.
              </li>
              <p>
                Bonus points for making your website look good with a CSS framework like bulma.
              </p>
              <p>
                When you are done, your project will look something like this:
              </p>
              <figure class="image">
                <img src="/programming_prog_nov2018_1.png" alt="">
              </figure>
              <p class="has-text-centered">
                Or:
              </p>
              <figure class="image">
                <img src="/programming_prog_nov2018_2.png" alt="">
              </figure>
              <p>
                The API serves a variable number of names and scores, so make your front-end as dynamic as possible.
              </p>
              <p>
                The submission website is currently (still) under construction, so please just email your <!--<a href="https://repl.it">-->repl.it<!--</a>--> link to <a href="mailto:hackclub@sluh.org">hackclub@sluh.org</a>. We are also still accepting submissions for the Sorting Algorithm project.
              </p>
              <p>
                Remember, you won't immediately know how to do everything. Do not be afraid to use the great resources of Google and Stack Overflow to help you. You can also just email us or ask questions at a meeting.
              </p>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer" style="padding:1.5rem;flex-shrink:0;">
      <div class="container">
        <div class="content has-text-centered">
          <div class="control level-item">
            <a href="https://dblitt.com">
              <div class="tags has-addons">
                <span class="tag is-dark">website created by</span>
                <span class="tag is-info" style="background-color: #EE7600;">Daniel Blittschau</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </footer>

<script type="text/javascript">
<% include ../scripts/burger.ejs %>
</script>

</body>
</html>
